.aclib-fader-border {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1), -3px -3px 3px 3px rgba(0, 0, 0, 0.1), 3px -3px 3px 3px rgba(0, 0, 0, 0.1), -3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.aclib-header-notification {
  color: darkred;
  font-weight: bold;
  text-align: center;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1), -3px -3px 3px 3px rgba(0, 0, 0, 0.1), 3px -3px 3px 3px rgba(0, 0, 0, 0.1), -3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  h2 {
    margin-bottom: 0;
  }
}

// Styles for "Image top" custom block type.
.block-image-top {
  .field--name-field-image {
    margin: 0;
  }
}
