.book_component {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 30px 0;

  .book_cover {
    width: 15%;

    @include media-breakpoint-up(sm) {
      width: 20%;
    }

    @include media-breakpoint-up(xs) {
      width: 30%;
    }

    img {
      width: 100%;
    }
  }

  .book_detail {
    width: 83%;

    @include media-breakpoint-up(sm) {
      width: 77%;
    }

    @include media-breakpoint-up(xs) {
      width: 63%;
    }

    h3 {
      font-size: inherit;

      a {
        display: inline-block;
      }
    }

    .description {
      font-size: inherit;
    }
  }
}
