.book-component {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0;
  .book-cover {
    img {
      width: 100%;
    }
  }
  .book-detail {
    padding-left: 1rem;
    h3 {
      font-size: inherit;
      a {
        display: inline-block;
      }
    }
    .description {
      font-size: inherit;
    }
  }
}
