header {
  #navbar-top {
    padding: 0;
    .navbar-brand {
      margin-right: 0;
      img {
        width: 300px;
      }
    }
    .region-top-header {
      flex: auto;
      text-align: left;
      @include media-breakpoint-up(lg) {
        flex: none;
        text-align: center;
      }
    }
    .region-secondary-menu {
      flex: auto;
      @include media-breakpoint-up(md) {
        flex: 100%;
      }
      @include media-breakpoint-up(lg) {
        flex: auto;
      }
      nav {
        padding-left: 0;
        padding-right: 0;
        @include media-breakpoint-up(lg) {
          padding-left: inherit;
        }
        ul {
          justify-content: space-around;
          @include media-breakpoint-up(md) {
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
          }    
          @include media-breakpoint-up(lg) {
            justify-content: flex-end;
          }
          &.clearfix::after {
            display: none;
          }
          .nav-link {
            //border: 1px solid red;
            font-weight: bold;
            padding-left: 0;
            padding-right: 0;
            text-decoration: underline;
            @include media-breakpoint-up(lg) {
              padding-left: 1em;
            }
            // Bootstrap Barrio adds an icon to some nav links by default. This
            //   removes them all from the secondary menu.
            &::before {
              display: none;
            }
            &:hover, &:focus, &:active {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .navbar-collapse .navigation {
    @include media-breakpoint-down(md) {
      background-color: $primary-shade;
      .nav-link {
        color: $white;
        font-weight: bold;
      }
    }
  }
  /* Make the hamburger icon white. */
  .navbar-dark {
    .navbar-toggler {
      border-color: $white;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
      }
      &.collapsed {
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
    }
  }

  .region-header-form {
    padding-bottom: 0.5rem;
  }
}

.skip-link {
  background-color: white;
  border: 1px solid #0000ff;
  border-top: 0;
  position: absolute;
}
