.aclib-icon-bar {
  color: $accent_shade;
  margin: 1em 0;
  .aclib-icon {
    display: flex;
    align-items: start;
    justify-content: left;
    margin: 0.5em 0;
    @include media-breakpoint-up(md) {
      align-items: center;
      justify-content: center;
    }
    .bi {
      height: 4em;
      width: 4em;
      margin-right: 1em;
    }
    .aclib-icon-text {
      font-size: 1.25em;
      font-weight: bold;
    }
    a {
      width: 50%;
      text-align: right;
      @include media-breakpoint-up(md) {
        width: auto;
      }
      &:hover {
        color: $accent_shade;
      }
    }
  }
}
