.layout--twocol-section--50-50 {
  .layout__region--first {
    padding-right: 0.5em;
  }
  .layout__region--second {
    padding-left: 0.5em;
  }
}

.layout--threecol-section--33-34-33 {
  .layout__region--third {
    padding-left: 1em;
  }
}
