.layout--twocol-section {
  .layout__region--first {
    padding-right: 0.5em;
  }
  .layout__region--second {
    padding-left: 0.5em;
  }
}

.layout--threecol-section {
  .layout__region--third {
    padding-left: 1em;
  }
}
