.block-tb-megamenu {
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: auto;
  }

  .tb-megamenu {
    background-color: $accent-shade;

    .tb-megamenu-button {
      position: absolute;
      right: 0;
      top: -70px;
      background-color: $accent-shade;
      background-image: none;
      border: 1px solid $white;
      z-index: 100;
      @include media-breakpoint-up(md) {
        top: -4px; // 15px;
      }
    }

    .nav-collapse {
      background: $white;
      top: -40px;
      box-shadow: 2px 0.5rem 0.5rem rgb(0 0 0 / 18%), -2px 0.5rem 0.5rem rgb(0 0 0 / 18%); // 1rem 1rem 1rem rgba(0, 0, 0, 0.175);
      @include media-breakpoint-up(md) {
        top: 40px;
        margin-top: 0;
      }
      @include media-breakpoint-up(lg) {
        top: 27px;
        background: $accent-shade;
        box-shadow: none;
      }
      .nav > li {  // Top level links on mobile.
        width: 100%;
        span.dropdown-toggle:after {
          display: none;  // Hide the dropdown caret.
          @include media-breakpoint-up(lg) { // Desktop.
            display: inline-block;
          }
        }

        span.tb-megamenu-no-link {
          border: none;
          color: $accent-shade;
          padding: 15px;
          font-size: 1.1rem;
          @include media-breakpoint-up(lg) { // Desktop.
            color: $white;
            padding: 15px 20px;
            font-size: 1rem;
          }
          &:focus,
          &:hover {
            background-color: $white;
            color: $accent-shade; // Gets rid of a flash of red when animating.
          }
        }
        > a,
        > a:hover {
          color: $accent-shade;
          background-color: $white;
          border: none;
          border-top: 1px solid $gray-800;
        }
        > a:focus-visible {  // Provide a visual indicator when using keyboard.
          outline: 2px auto -webkit-focus-ring-color;
          text-decoration: underline;
        }
        @include media-breakpoint-up(lg) {  // Desktop.
          > a {
            background: none;
            border: none;
          }
        }
        &.dropdown.active {
          > .dropdown-toggle {
            background-color: $white;
            @include media-breakpoint-up(lg) { // Desktop.
              background-color: $accent-shade;
            }
          }
        }
        &.dropdown.open {
          > .dropdown-toggle {
            color: $accent-shade;
            background-color: $white;
          }
          > span.tb-megamenu-no-link:hover,
          > span.tb-megamenu-no-link:focus {
            color: $accent-shade;
            background-color: $white;
          }
        }
        @include media-breakpoint-up(lg) {  // Top level links on desktop.
          width: auto;
          a,
          a:hover{
            color: $white;
            border-radius: 3px 3px 0 0;
          }
        }

        // Shift the dropdown for each top-level item to the left a little.
        // Borrow and Download dropdown doesn't need to be shifted.
        //&:nth-of-type(2) .dropdown-menu {  // Research and Learn
        //  left: -100px;
        //}
        //&:nth-of-type(3) .dropdown-menu {  // Services
        //  left: -200px;
        //}
        //&:nth-of-type(4) .dropdown-menu {  // Events
        //  left: -300px;
        //}

        .dropdown-menu {  // Submenu links in all responsive modes.
          border-bottom: 1px solid $black;
          @include media-breakpoint-up(lg) {
            border: 0;
            border-radius: 0 0 3px 3px;
          }
          background-color: $white;
          box-shadow: none;
          a {
            text-decoration: underline;
            color: $accent-shade;
            border-top: none;
            &.aclib-megamenu-bold {
              font-weight: bold;
              padding: 0;
              margin: 0;
              margin-left: -5px;
              color: $accent-shade;
              border: none;
              @include media-breakpoint-up(lg) {
                margin-left: 0;
              }
            }
          }
          a:hover {
            color: $accent-shade;
            text-decoration: none;
          }
          li > a {
            margin-left: -5px;
          }
          li.active a {
            background: none;
          }
          @include media-breakpoint-up(lg) {
            box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 18%), -2px 0.5rem 0.5rem rgb(0 0 0 / 18%); // 1rem 1rem 1rem rgba(0, 0, 0, 0.175);
            
            li > a {
              margin-left: 5px;
            }
          }
          .span12.mega-col-nav .mega-inner {
            padding: 20px;  // Fixes left-margin issue on tablet.
          }
          .mega-inner { // Padding between columns.
            padding-top: 3px;
            padding-bottom: 3px;
          }
          @include media-breakpoint-up(lg) {
            .mega-inner {
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
          .tb-megamenu-row {
            border-top: 1px solid darken($gray-100, 10%);
          }
        }
      }
    }
  }
}

.caret-trigger {
  @include media-breakpoint-up(lg) { 
    display: none;
  }
}
  
.caret-trigger-off {
  margin-top: 0;  
}

.caret-trigger-on {
  margin-top: -2px;  
}


/* Media queries */
/*
@media only screen and (min-width: 880px) {

  .caret-trigger {
    display: none;
  }
}
*/


