.block-tb-megamenu {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: auto;
  }

  .tb-megamenu {
    background-color: $accent-shade;

    .tb-megamenu-button {
      position: absolute;
      right: 0;
      top: -70px;
      background-color: $accent-shade;
      background-image: none;
    }

    .nav-collapse {
      background: $white;
      top: -40px;
      @include media-breakpoint-up(md) {
        top: 27px;
        background: $accent-shade;
      }
      .nav > li {  // Top level links on mobile.
        width: 100%;
        a,
        a:hover {
          color: $accent-shade;
          &:after {
            display: none;  // Hide the dropdown caret.
          }
        }
        @include media-breakpoint-up(md) {  // Align menu to left in desktop.
          &:nth-child(1) {
            a {
              //padding-left: 0;
            }
          }
        }
        &.dropdown.open {
          > .dropdown-toggle {
            color: $accent-shade;
          }
        }
        @include media-breakpoint-up(md) {  // Top level links on desktop.
          width: auto;
          a,
          a:hover{
            color: $white;
          }
        }

        .dropdown-menu {  // Submenu links in all responsive modes.
          border: 0;
          background-color: $white;
          a,
          a:hover {
            color: $accent-shade;
          }
        }
      }
    }
  }
}

