article.node {
  .node__meta {
    color: $black;
  }

  .field--type-image {
    margin: 0;
    float: none;
  }
  .align-left {
    .field--type-image {
      margin-right: 1rem;
    }
  }
  .align-right {
    .field--type-image {
      margin-left: 1rem;
    }
  }
  .align-center {
    .field--type-image {
      float: none;
      text-align: center;
    }
  }

  // Hide the byline from nodes inserted into layouts via a custom block.
  .block-layout-builder.block-inline-blocknode-full-content-reference-bloc {
    .node__meta {
      display: none;
    }
  }

  .flickr-formatter-inline {
    background-color: $primary-shade;
    .carousel-item {
      float: none;
      text-align: center;
    }
    .carousel-control-prev,
    .carousel-control-next {
      .bg-secondary {
        background-color: $primary-shade;
      }
    }
  }
}
